:root {
  --deep-blue: #012063;
  --ocean-blue: #126bc5;
  --dark-gray: #333333;
  --text-gray: #6d6e6e;
  --blue-background: #eaf1ff;
  --montserrat: "Montserrat";
}

body {
  font-family: "Manrope", "Montserrat", "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

p {
  font-size: 1rem;
}

/* ========== NAVBAR ========== */
header {
  background-color: aliceblue;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.8rem 1rem;
}

.logo {
  margin-right: auto;
  width: 33%;
}

.navbar {
  flex-grow: 1;
}
nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3em;
  margin: 0;
}

nav > ul > li {
  list-style: none;
  white-space: nowrap;
  display: inline;
}

nav > ul > li > a:hover {
  color: var(--ocean-blue);
}

nav > ul > li:last-child {
  margin-left: auto;
  /* background: var(--deep-blue); */
  border-radius: 8px;
  padding: 0.6em 1.2em;
  white-space: nowrap;
  padding-right: 0;
}

nav > ul > li:last-child a {
  color: white;
}

nav > ul > li:last-child a:hover {
  background: var(--ocean-blue);
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--dark-gray);
  font-size: 16px;
}

.nav__toggle {
  display: none;
  color: var(--deep-blue);
}

/* ========== HERO SECTION ========== */

section {
  padding-bottom: 60px;
  padding-top: 3rem;
}

.container {
  margin-inline: auto;
  max-width: 1200px;
  padding: 1rem 5rem 0;
}

.hero__section {
  position: relative;
}

.hero-container {
  padding-top: 80px;
  position: relative;
  overflow: hidden;
  height: auto;
}

.section__content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

/* .section__content h1 {
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  color: var(--dark-gray);
} */

.section__content h1 {
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  color: var(--dark-gray);
  animation: slide-in 2s ease forwards;
  transform: translateY(-100%);
  animation-delay: 0.5s;
}

@keyframes slide-in {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

.section__content h2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 1.2rem;
}

.section__content p {
  color: var(--text-gray);
  line-height: 30px;
}

.main__buttons-container {
  width: 50%;
  margin-inline: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  border: none;
}

.button {
  color: white;
  border-radius: 8px;
  padding: 0.8em 1.2em;
  white-space: nowrap;
  font-family: "Manrope";
  font-size: 1rem;
  outline: 1px solid var(--deep-blue);
  cursor: pointer;
}

.button:hover {
  background: var(--ocean-blue);
  outline: none;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.ghost-button {
  background: transparent;
  color: var(--deep-blue);
  border-radius: 8px;
  white-space: nowrap;
  font-family: "Manrope";
  font-size: 1rem;
  min-width: 165px;

  outline: 1px solid var(--deep-blue);
}

.ghost-button:hover {
  background: var(--ocean-blue);
  color: white;
  outline: none;
  min-width: 165px;
}

.default-button {
  background: var(--deep-blue);
  color: white;
  border-radius: 8px;
  white-space: nowrap;
  font-family: "Manrope";
  font-size: 1rem;
  outline: 1px solid var(--deep-blue);
}

.default-button i {
  margin-left: 10px;
}

.default-button:hover {
  background: var(--ocean-blue);
  outline: none;
  color: white;
}

.asset__container,
.assets__container2 {
  width: 40%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0;
}

.asset__container img,
.asset__container2 img {
  width: 100%;
}

.asset__container2 img {
  width: 40%;
  position: absolute;
  right: -90px;
  bottom: 0;
}

.hero__image-container {
  width: 70%;
  margin-inline: auto;
}

.hero__image-container img {
  width: 100%;
  height: auto;

  transform: translateX(20px);
}

.partners-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--deep-blue);
  height: 13rem;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
}

.partners-content {
  display: flex;
  margin-inline: auto;
  max-width: 1200px;
}

.partners__banks {
  margin-bottom: 2rem;
  margin-inline: auto;
  overflow-x: hidden;
}

.partners__banks img {
  overflow: hidden;
  width: 100%;
}

.partners-content h3 {
  font-size: 1.5rem;
}

.section__content span {
  color: var(--deep-blue);
  font-weight: 600;
}

.blue-shade {
  background: var(--blue-background);
}

.features__card-container {
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.card {
  background: white;
  width: 220px;
  display: flex;
  border-radius: 20px;
  padding: 1rem;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.number {
  background: var(--deep-blue);
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 50%;
  color: white;
}

.number h3 {
  margin: 0;
}

.card h6 {
  margin: 15px 0 0px;
  color: var(--deep-blue);
  font-weight: 700;
}

.our__cards-container {
  display: flex;
  padding: 2rem 0;
  margin: 2rem 0;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.testimonial-section {
  background: var(--deep-blue);
}

.testimonial-section .section__content {
  color: white;
}

.testimonial-content {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.testimonial-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.faq__container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-bottom: 5rem;
}

.faq__item {
  background: white;
  padding: 1rem;
  border-radius: 4px;
  outline: 1px solid rgba(51, 51, 51, 0.5);
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__question p {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
}

.faq__answer {
  display: none;
}

.flex {
  display: flex;
  gap: 4rem;
}

.left__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left__container h1 {
  font-size: 2.5rem;
}

.right__container {
  width: 50%;
}

.right__container img {
  width: 100%;
}

.button__container {
  margin-top: 3rem;
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.button i {
  margin-right: 10px;
}

footer {
  background: var(--deep-blue);
  color: white;
  padding-bottom: 1rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  flex-wrap: wrap;
  padding-inline: 1rem;
}

form {
  position: relative;
  margin-top: 2rem;
}

.email-input {
  padding: 1rem;
  outline: none;
  font-size: 16px;
  padding-right: 110px;
  border: 0;
}

.email-input::placeholder {
  color: rgba(51, 51, 51, 0.5);
  font-size: 16px;
}

.copywright {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit__button {
  background: var(--ocean-blue);
  color: white;
  min-width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 0;
  outline: none;
}

.footer__container .footer__section {
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.footer__section h3 {
  margin: 0 0 2rem;
}

.footer__section ul {
  padding: 0;
}

.footer__section li {
  list-style: none;
  margin-bottom: 0.8rem;
  cursor: pointer;
}

.footer__section a i {
  font-size: 1.6rem;
  width: 40px;
  height: 40px;
  color: white;
}

.footer__icons-container {
  display: flex;
  justify-content: space-around;
}

/* ========== MEDIA QUERIES ========== */

@media screen and (max-width: 1024px) {
  .header__wrapper {
    padding: 0.8rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    padding-inline: 1rem;
    display: flex;
    align-items: center;
  }

  .nav__toggle.show {
    display: block;
  }

  nav {
    display: none;
  }

  .nav__toggle {
    display: none;
  }

  .logo {
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 0 0;
  }

  .logo img {
    width: 100%;
    height: 40px;
  }

  .container {
    padding-inline: 1rem;
  }

  section {
    padding-top: 1rem;
  }

  .asset__container {
    z-index: -1;
  }

  .section__content h1 {
    font-size: 2rem;
  }

  .main__buttons-container {
    flex-direction: column;
  }

  .section__content h2 {
    font-size: 2rem;
  }

  .our__cards-container {
    margin-top: 0;
  }

  .flex {
    flex-direction: column;
  }

  .testimonial-content {
    flex-direction: column;
    gap: 1rem;
  }

  .testimonial-image {
    display: none;
  }

  .left__container {
    width: 100%;
  }

  .right__container {
    width: 100%;
  }

  .button__container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
